<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <configSections>

        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />

    </configSections>
    
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

        <!--
          See https://github.com/nlog/nlog/wiki/Configuration_file
          for information on customizing logging rules and outputs.
        -->

        <targets async="true">

            <target xsi:type="AsyncWrapper" name="f1">
                <target xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} | ${threadid:padding=3} | ${level:padding=6} | ${message}${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
            </target>

        </targets>

        <rules>

            <logger name="*" minlevel="Trace" writeTo="f1" />

        </rules>

    </nlog>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <runtime>

        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        
            <dependentAssembly>

                <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
                
            </dependentAssembly>

        </assemblyBinding>

    </runtime>

</configuration>